<link rel="manifest" href="../manifest.json">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#536878"/>
<link rel="apple-touch-icon" sizes="180x180" href="../images/iconcycle.png">
<!-- css start -->

<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
<link href="../javascripts/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<link href="../stylesheets/main.css" rel="stylesheet" type="text/css" />
<link href="../javascripts/sweetalert-master/sweetalert.css" rel="stylesheet" type="text/css" />
<!-- css end -->
<!-- js start -->
<script src="../javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="../javascripts/popper.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/ajaxCall.js"></script>
<script src="../javascripts/mainjs.js"></script>
<script src="../javascripts/common.js"></script>
<script src="../javascripts/sweetalert-master/sweetalert.min.js"></script>
<script src="../javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="../javascripts/signature_pad/docs/js/signature_pad.umd.js" type="text/javascript"></script>
<!-- js end -->