<style>
  .overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;

    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .overlay {
      overflow-y: auto;
    }

    .overlay a {
      font-size: 20px
    }

    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  .showUser {
    font-size: 15px;
    margin: 5px 5px 0px 0px;
  }

  div.absolute {
    position: absolute;
    top: 25px;
    right: 50%;
    transform: translate(50%, -50%);
  }

  div.relative {
    position: relative;
    width: 400px;
    height: 200px;
  }
</style>

<!-- <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a href="#">ตรวจสอบข้อมูลการนับ</a>
      <a href="#">สร้าง Count Tag</a>
      <a href="/selectstore">เปลี่ยน Location / แยกไฟล์</a>
      <a href="#">จบการนับ</a>
    </div>
  </div> -->
<nav>
  <div class="container-fluid" style="background-color: white; height: 50px; padding: 0px;">
    <div class="d-flex justify-content-between">
      <div class="relative">
        <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span> -->
        <a href="<%= typeof navbar != 'undefined' ? '/' : '/maincontrol' %>">
          <img src="./images/Thaiwatsadu.PNG" style="height: 30px; margin: 8px 0px 0px 8px;" alt="">
        </a>
      </div>
      <div class="absolute">
        <h3 style="margin: 5px;"><%= typeof headerName != 'undefined' ? headerName : 'Cycle Count' %></h3>
      </div>
      <div class="">
        <% if( typeof userName == 'undefined'){ %>
        <span hidden class="showUser">
          Username :</span>
        <span hidden class="showUser"
          style="font-weight: bold;"><%= typeof userName != 'undefined' ?  userName : '' %></span>
        <% } else { %>
        <span class="showUser">
          Username :</span>
        <span class="showUser" style="font-weight: bold;"><%= typeof userName != 'undefined' ?  userName : '' %></span>
        <% } %>
        <br>
        <% if( typeof cntNum == 'undefined'){ %>
        <span hidden class="showUser">
          เลขที่ใบนับ :</span>
        <span hidden class="showUser" style="font-weight: bold;"><%=  typeof cntNum != 'undefined' ? cntNum : '' %></span>
        <% } else { %>
        <span class="showUser">
          เลขที่ใบนับ :</span>
        <span class="showUser" style="font-weight: bold;"><%=  typeof cntNum != 'undefined' ? cntNum : '' %></span>
        <% } %>

        <!-- <a href="<%= typeof navbar != 'undefined' ? '/' : '/maincontrol' %>"> -->
        <!-- <img src="./images/home.png" style="height: 45px;" alt=""> -->
        <!-- </a> -->
      </div>
    </div>
    <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> -->
  </div>
</nav>


<script>
  function openNav() {
    document.getElementById("myNav").style.width = "50%";
  }

  function closeNav() {
    document.getElementById("myNav").style.width = "0%";
  }

  function setFocus(objId) {
    document.getElementById(objId).focus();
  }

  async function setDelay(time) {
    return new Promise((res) => {
      setTimeout(res, time);
    })
  }

  function goBack(obj) {
    obj.blur();
    window.location = "/maincontrol";
  }

  async function alertMessage(classMsgBox, message, time) {
    document.getElementById("boxMessage").innerHTML = `<dd class="${classMsgBox}">${message}</dd>`;
    await setDelay(time);
    clearMessageBox();
  }

  function clearMessageBox() {
    document.getElementById("boxMessage").innerHTML = ``;
  }

  function getValue(objId) {
    return document.getElementById(objId).value;
  }

  function setValue(objId, val) {
    document.getElementById(objId).value = val;
  }

  function getText(objId) {
    return document.getElementById(objId).textContent;
  }

  function IsNullOrWhiteSpace(str) {
    return str === null || str.match(/^ *$/) !== null;
  }
</script>