<div class="container">
    <div class="userinfo-containner mt-3">
        <dl class="row mt-3">
            <div class="col-12">
                <dd class="col-sm-12 userinfo-fnt"><strong>สาขา:</strong> <%= stFCode %> - <%= stSCode %></dd>
            </div>
            <div class="col-12">
                <dd class="col-sm-12 userinfo-fnt"><strong>ชื่อการนับ:</strong> <%= cntItem.CNTNAME %></dd>
            </div>
            <div class="col-12">
                <dd class="col-sm-12 userinfo-fnt"><strong>เลขที่ใบนับ:</strong> <%= cntNum %></dd>
            </div>
            <div class="col-12">
                <dd class="col-sm-12 userinfo-fnt"><strong>สถานภาพใบนับ:</strong> <span
                        id='statusCntnum'><%= cntItem.STATUS %></span>
                </dd>
            </div>
        </dl>
        <dl class="row">
            <div class="col-12">
                <dt class="col-sm-3 userinfo-fnt">วันที่: <span id="setDateNow"></span></dt>
            </div>
            <div class="col-12">
                <dt class="col-sm-3 userinfo-fnt">เวลา: <span id="setTiming"></span></dt>
            </div>
        </dl>
    </div>
    <div class="row">
        <div class="col-12">
            <hr style="border-top: 1px solid #fff;">
        </div>
    </div>
</div>