<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <%- include('../includes/libary.ejs') %>
    <style>
    </style>
</head>

<body style="background-color: black;">
    <%- include('../partials/header.ejs') %>
    <div class="container mt-5">
        <form id="form">
            <div class="form-group">
                <label for="oldPassword" class="text-white">Old Password</label>
                <input type="password" class="form-control" id="oldPassword">
            </div>
            <div class="form-group">
                <label for="newPassword" class="text-white">New Password</label>
                <input type="password" class="form-control" id="newPassword">
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="text-white">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword">
            </div>
            <button type="submit" class="btn btn-light btn-sm btn-block mt-4">ยืนยัน</button>
        </form>
    </div>
    <div class="row" style="height:300px;"></div>
    <script>
        var _userId;
        function pageReady() {
            let access_token = readCookie('CCTOKEN');
            var decodedToken = parseJwt(access_token);
            const {CCUSERID ,CCUGROUP,CCPRICEORCOST,CCGROUPNAME,CCLSTCHGPWDDAYS} = decodedToken
            _userId = CCUSERID;

            if (_userId === null) {
                alert('You are not login yet')
                window.location.href = "./";
                return 0;
            }
        }
        function validateLength(elem, min){
            const val = elem.value;
            if (val.length < min) {
                alert("password น้อยกว่า 6 ตัว");
            }
        }

        function validateComparePassword(newPassword, confirmPassword) {
            return new Promise(resolve => {
                if(newPassword.value !== confirmPassword.value){
                    alert("password ไม่ตรงกัน");
                    resolve(0);
                }
                resolve(1);
            });

        }
        function validatePassword(newPassword, min) {
            return new Promise (resolve => {
                let regex;
                regex = /[0-9]/;
                if(!regex.test(newPassword.value)){
                    alert('Password must contain at least one number(0-9).')
                    resolve(0);
                }
                regex = /[A-Za-z]/;
                if(!regex.test(newPassword.value)){
                    alert('Password must contain at least 1 character.')
                    resolve(0);
                }
                if(newPassword.value.length < min){
                    alert("ความยาวน้อยกว่า 6");
                    resolve(0);
                }
                resolve(1);
            });
        }
        async function validateForm(event){
            event.preventDefault();
            const oldPassword = document.getElementById('oldPassword');
            const newPassword = document.getElementById('newPassword');
            const confirmPassword = document.getElementById('confirmPassword');

            const [a, b] = await Promise.all([
                validatePassword(newPassword, 6),
                validateComparePassword(newPassword, confirmPassword)
            ]);
            if(a && b){
                let qry = `Select PASSWORD,OLDPWD1,OLDPWD2,OLDPWD3,
                        [NEWPWD] = dbo.EnCrypt('${_userId}', '${newPassword.value}'),
                        [OLDPWD] = dbo.EnCrypt('${_userId}', '${oldPassword.value}')
                        From SYSTEMUSER Where USERID= '${_userId}'
                    `;
                let getsql = await call_sql(qry);
                if(getsql.dbcode === 0){
                    console.log(getsql.dbitems[0]);
                    const {NEWPWD, OLDPWD, OLDPWD1, OLDPWD2, OLDPWD3, PASSWORD} = getsql.dbitems[0];
                    if(OLDPWD !== PASSWORD) {
                        alert("ไม่สามารถเปลี่ยนรหัสผ่านได้ รหัสผ่านเดิมไม่ถูกต้อง กรุณาระบุใหม่อีกครั้ง");
                        return 0;
                    }
                    if(NEWPWD === OLDPWD1 || NEWPWD === OLDPWD2 || NEWPWD === OLDPWD3){
                        alert("ไม่สามารถเปลี่ยนรหัสผ่านได้ รหัสผ่านซ้ำกับ 3 ครั้งก่อน");
                        return 0;
                    }
                    qry = `update SYSTEMUSER 
                        set PASSWORD = '${NEWPWD}',
                            INVALIDPWD=0,
                            LASTLOGIN=getdate()
                        where USERID = '${_userId}'`;
                    getsql = await call_sql(qry);
                    if(getsql.dbcode === 0){
                        alert("เปลี่ยนรหัสผ่านสำเร็จ");
                        document.getElementById("form").reset();
                    }
                }
            }else{
                return 0;
            }
        }
        function run() {
            const formElem = document.getElementById('form');
            formElem.addEventListener('submit', validateForm);
        }
        pageReady();
        run();
    </script>
</body>

</html>