<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <%- include('../includes/libary.ejs') %>
</head>

<body style="background-color: black;">
    <%- include('../partials/header.ejs') %>
    <div class="container mt-3">

        <div class="container text-light">
            <div id="boxMessage"></div>
            <%- include('../includes/cam.ejs') %>
            <div class="row">

                <div class="col align-self-center">
                    <form id="editItemcount">
                        <div class="row" hidden>
                            <div class="col-6">
                                <label for="userName">user name</label>
                                <input type="text" id="userName" class="form-control" readonly value="<%= userName %>">
                            </div>
                            <div class="col-6">
                                <label for="cntNum">cnt Number</label>
                                <input type="text" id="cntNum" class="form-control" readonly value="<%= cntNum %>">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label for="location">Location</label>
                                <!-- <button type="button" onclick="addProduct()" style='float : right;' class="btn btn-info btn-sm">Add Location</button> -->
                                <a href="javascript:addProduct()" style='float : right;'>เพิ่มสินค้า</a>
                                <div class="input-group mb-3">
                                    <input type="text" id="location" class="form-control"
                                        placeholder="กรุณาระบุ Location ที่ต้องการค้นหา" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" onclick="opencam('location')">กล้อง</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="skuBar">SKU / Barcode</label>
                                <div class="input-group mb-3">
                                    <input type="text" id="skuBar" class="form-control"
                                        placeholder="กรุณาระบุ SKU / Barcode ที่ต้องการค้นหา" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" onclick="opencam('skuBar')">กล้อง</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="submit" class="btn btn-info btn-sm btn-block mt-3">ค้นหา</button>
                        <button type="button" onclick="goBack()"
                            class="btn btn-secondary btn-sm btn-block">กลับเมนูหลัก</button>
                    </form>
                    <br>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="search" id='search' name='search' autocomplete="off" class='form-control'
                                value='' placeholder="Search...">
                        </div>
                    </div>
                    <br>
                    <div id="addtable">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height:300px;"></div>
    <script>
        let cntChange;
        $(document).ready(() => {
            document.getElementById('submit').click();
        });

        async function onSubmit() {
            try {
                let cntNum = document.getElementById('cntNum').value;
                let location = document.getElementById('location').value;
                let skuBar = document.getElementById('skuBar').value;
                if (cntNum.length) {
                    let item = {
                        CNTNUM: cntNum,
                        SKUBAR: skuBar ? skuBar : null,
                        LOCATION: location ? location : null
                    }
                    let getapi = await call_api("POST", "../api/editvariance", item, 'auth');
                    console.log("🚀 ~ file: editvariance.ejs ~ line 91 ~ onSubmit ~ getapi", getapi)
                    if (getapi.data.dbrows == 0) {
                        let tableBody = `<p class="text-center mt-2">ไม่พบข้อมูล</p>`;
                        document.getElementById("addtable").innerHTML = tableBody;
                    } else {
                        let tableBody = `
                        <div class="view">
                            <div class="wrapper">
                                <table class="table">
                                <thead>
                                    <tr>
                                    <th class="sticky-col text-center first-col">Location</th>
                                    <th class="sticky-col text-center second-col">SKU</th>
                                    <th class="sticky-col text-center three-col">จำนวน</th>
                                    <th>Barcode</th>
                                    <th>ชื่อสินค้า</th>
                                    <th>ยี่ห้อ</th>
                                    
                                    </tr>
                                </thead>
                                <tbody id="myTablesrc">
                                    ${getapi.data.dbitems.map((item, i) => `
                                    <tr class="scanlist " onclick="showselecttable(this)" >
                                        <td class="sticky-col text-center first-col">${item.LOCATION || ''}</td>
                                        <td class="sticky-col text-center second-col">${item.SKCODE}</td>
                                        <td class="sticky-col text-center three-col"><input type="number" class="form-control text-right" style='width: 47px;padding: 0px;' id="skuedit${i+1}" value="${item.CNTQNT}" placeholder="กรุณาระบุจำนวน"
                                                onkeyup="onEdit('0','-','${item.SKCODE}','skuedit${i+1}')"
                                                onkeydown="return event.keyCode == 69 ? false : true"
                                                onfocusout="focusoutEdit('0','-','${item.SKCODE}','skuedit${i+1}')"
                                                onfocus="focusCntSku('skuedit${i+1}');"></td>
                                        <td>${item.BARCODE}</td>
                                        <td>${item.PRNAME}</td>
                                        <td>${item.BRAND}</td>
                                        
                                    </tr>
                                    `).join("")}
                        
                                </tbody>
                                </table>
                            </div>
                        </div>
                        `;
                        document.getElementById("addtable").innerHTML = tableBody;
                    }
                } else {
                    alertMessage('showwarning', 'ไม่สามารถส่งค่าได้', 5000);
                }
            } catch (error) {
                alertMessage('showerr', error, 10000);
            }
        }
        
        function onEdit(para_tranid, para_location, para_sku, para_id) {
            if (event.keyCode == 13) {
                try {
                    let number = document.getElementById(para_id).value;

                    swal({
                            title: ``,
                            text: `คุณต้องการแก้ไข Varience เป็น ${number} ใช่หรือไม่ ?`,
                            type: null,
                            showCancelButton: true,
                            confirmButtonText: "ยกเลิก",
                            confirmButtonClass: 'btn-danger',
                            cancelButtonText: "ตกลง",
                            cancelButtonClass: 'btn-primary',
                            closeOnCancel: true,
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                document.getElementById('submit').click();
                                return;
                            };

                            let item = {
                                MOD: 'E',
                                CNTTRANS: para_tranid,
                                CNTNUM: "<%= typeof cntNum!='undefined' ? cntNum : '' %>",
                                SKCODE: para_sku,
                                PRCODE: null,
                                LOCATION: para_location,
                                CNTQNT: number,
                                USERID: "<%= typeof userName!='undefined' ? userName : '' %>",
                                HOSTNAME: '' //'TOR-ASUS' //navigator.userAgent
                            };

                            update(item)
                        }
                    );
                } catch (error) {
                    alertMessage('showerr', error, 10000);
                }
            }
        }

        function focusoutEdit(para_tranid, para_location, para_sku, para_id) {
            try {
                let number = document.getElementById(para_id).value;
                if (cntChange != number) {
                    swal({
                            title: ``,
                            text: `คุณต้องการแก้ไข Varience เป็น ${number} ใช่หรือไม่ ?`,
                            type: null,
                            showCancelButton: true,
                            confirmButtonText: "ยกเลิก",
                            confirmButtonClass: 'btn-danger',
                            cancelButtonText: "ตกลง",
                            cancelButtonClass: 'btn-primary',
                            closeOnCancel: true,
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                document.getElementById('submit').click();
                                return;
                            };

                            let item = {
                                MOD: 'E',
                                CNTTRANS: para_tranid,
                                CNTNUM: "<%= typeof cntNum!='undefined' ? cntNum : '' %>",
                                SKCODE: para_sku,
                                PRCODE: null,
                                LOCATION: para_location,
                                CNTQNT: number,
                                USERID: "<%= typeof userName!='undefined' ? userName : '' %>",
                                HOSTNAME: '' //'TOR-ASUS' //navigator.userAgent
                            };

                            update(item)
                        }
                    );
                }
            } catch (error) {
                alertMessage('showerr', error, 10000);
            }
        }

        async function update(item) {
            let getapi = await call_api("POST", "../api/scan", item, 'auth');
            document.getElementById('submit').click();
        }

        function focusCntSku(para_id) {
            cntChange = document.getElementById(para_id).value;
        }

        function goBack() {
            window.location = "/maincontrol";
        }

        function addProduct() {
            window.location = "/scannewproduct";
        }

        function searchTable() {
            var value = getValue('search').toLowerCase();
            $("#myTablesrc tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        }

        function verifySku(e) {
            if (e.keyCode == 13) {
                let number = getValue('skuBar');
                if (number.includes('.com')) {
                    number = number.substring(number.length - 8, number.length);
                    setValue('skuBar', number);
                }
            }
        }

        document.getElementById('submit').addEventListener('click', onSubmit);
        document.getElementById('search').addEventListener('keyup', searchTable);
        document.getElementById("skuBar").addEventListener('keypress', verifySku);
    </script>
</body>

</html>