<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <%- include('../includes/libary.ejs') %>
    <style>

    </style>
</head>

<body style="background-color: black;">
    <%- include('../partials/header.ejs') %>
    <div class="container mt-3">
        <form id="userLogin">
            <div class="form-group">
                <label for="user" class="text-white">User</label>
                <input type="text" class="form-control" id="user" style="text-transform: uppercase"
                    placeholder="กรุณาระบุ Username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="text-white">Password</label>
                <input type="password" id="password" class="form-control" id="exampleInputPassword1" autocomplete="off"
                    placeholder="กรุณาระบุ Password">
            </div>
            <div class="d-flex justify-content-around">
                <button type="button" id="clearValue" class="btn btn-danger btn-sm btn_mystyle">Reset</button>
                <button type="submit" id="submit" class="btn btn-primary btn-sm btn_mystyle">Login</button>
            </div>

        </form>
        <br>
        <div id="boxMessage"></div>
    </div>
    <script>
        // async function onSubmittest(event) {
        // try {
        //     event.preventDefault();
        //             let userId = document.getElementById("user").value;
        //             let password = document.getElementById("password").value;
        //             let getsql = await call_sql(`exec  CCTSQL..WebCC_CheckUserLogin2 '${userId}','${password}',''`);
        //             // if (getsql.dbcode === 0) {
        //                 console.log(getsql)
        //                 let {RESULT ,SVRDATE, USERGROUP, GroupName, CHGPWDDATE, PRICEORCOST} = getsql.dbitems[0];
        //                 if(!RESULT.localeCompare("OKOK")){
        //                     let now = new Date();
        //                     let chgpwdDate = new Date(CHGPWDDATE);
        //                     const diffTime = Math.abs(chgpwdDate - now);
        //                     let lastChgPwdDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
        //                     saveCookie('CCUSERID', userId);
        //                     saveCookie('CCUGROUP', USERGROUP);
        //                     saveCookie('CCPRICEORCOST', PRICEORCOST);
        //                     saveCookie('CCGROUPNAME', GroupName);
        //                     saveCookie('CCLSTCHGPWDDAYS', lastChgPwdDays);
        //                     if(lastChgPwdDays > 90){
        //                         window.location.href = "./changepassword";
        //                     }else{
        //                         let qry = `update SYSTEMUSER 
        //                             set INVALIDPWD=0,
        //                             LASTLOGIN=getdate()
        //                             where USERID = '${userId}'`;
        //                         getsql = await call_sql(qry);
        //                         if(getsql.dbcode === 0){
        //                             qry = `SELECT right('0000'+convert(varchar,value),4) as PF_NUM from openjson((Select USER2PROFILE From SYSTEMUSER Where USERID = '${userId}'))`;
        //                             getsql = await call_sql(qry);
        //                             let user2profile = '';
        //                             getsql.dbitems.map(item => user2profile += `X${item.PF_NUM}`);
        //                             alert(RESULT);
        //                             saveCookie('CCUPROFILE',user2profile);
        //                         }
        //                     }
        //                 }
        //                 else{
        //                     throw new Error(`"call db " , message = ${RESULT}`)

        //                 }
        //             // } else { 
        //             //     throw new new Error(`"call db " , message = ${getsql.dbmessage}`)
        //             //     console.log("call db ", getsql.dbmessage);
        //             //     alert("call:" + getsql.dbmessage)
        //             //     return 0;
        //             // }
        // } catch (error) {
        //     console.log(error.message)
        //     alert("onSubmit:" + error.message)
        // }
        // }
        async function onSubmit(event) {
            try {
                event.preventDefault();
                let userId = document.getElementById("user").value.toUpperCase();
                let password = document.getElementById("password").value;
                // let userId = document.getElementById("user").value;
                // let password = document.getElementById("password").value;

                if (userId == '' || password == '') {
                    alertMessage('showwarning', "กรุณาระบุ Username และ Password ให้ครบถ้วน", 5000);
                    return
                }

                let jdata = {
                    "USERID": userId,
                    "PASSWORD": password
                }

                let getapi = await call_api("POST", "../api/login", jdata);
                const {
                    access_token,
                    expires_in,
                    token_type
                } = getapi


                var decodedToken = parseJwt(access_token);
                const {
                    CCUSERID,
                    CCUGROUP,
                    CCPRICEORCOST,
                    CCGROUPNAME,
                    CCLSTCHGPWDDAYS
                } = decodedToken
                saveCookie('CCTOKEN', access_token);
                console.log(decodedToken)

                if (CCLSTCHGPWDDAYS > 90) {
                    window.location.href = "./changepassword";
                } else {
                    window.location.href = "./selectstore";

                }

            } catch (error) {
                console.log("🚀 ~ file: login.ejs ~ line 119 ~ onSubmit ~ error", error)
                alertMessage('showerr', error, 10000);
            }
        }

        function clearValue() {
            document.getElementById("userLogin").reset();
        }

        function showerror() {
            let urlParams = new URLSearchParams(window.location.search);
            let hasmessage = urlParams.has('message')
            if (hasmessage) {
                let getmessage = urlParams.get('message')
                alert(getmessage)
                history.pushState({}, "message", "/")
            }
        }
        document.getElementById("submit").addEventListener("click", onSubmit);
        document.getElementById("clearValue").addEventListener("click", clearValue);
        $(document).ready(function () {
            showerror();
            // $('#user').keyup(function () {
            //     this.value = this.value.toLocaleUpperCase();
            // });
        });
    </script>
</body>

</html>