<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <%- include('../includes/libary.ejs') %>
</head>

<body style="background-color: #000;">
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/userinfo.ejs') %>
    <div class="container mt-2">
        <div class="row justify-content-around">
            <div class="col-12 col-md-4 mt-2">
                <button id='btnScanOnly' disabled class="btn btn-block btn-sm btn-primary">Scan Only</button>
            </div>
            <div class="col-12 col-md-4 mt-2">
                <button id='btnScanWithNumber' disabled class="btn btn-block btn-sm btn-primary">Scan with
                    Number</button>
            </div>
            <div class="col-12 col-md-4 mt-2">
                <button id='btnEditTrans' disabled class="btn btn-block btn-sm btn-warning">ตรวจสอบ/แก้ไขยอดนับ</button>
            </div>
            <div class="col-12 col-md-4 mt-2">
                <button id='btnEditVariance' disabled class="btn btn-block btn-sm btn-warning">แก้ไข
                    Variance (SKU)</button>
            </div>
            <div class="col-12 col-md-4 mt-2">
                <button id='btnNotCount' class="btn btn-block btn-sm btn-secondary">รายการที่ยังไม่ได้นับ</button>
            </div>
            <div class="col-12 col-md-4 mt-2">
                <button id='btnChangeCntMain' class="btn btn-block btn-sm btn-info">เปลี่ยนใบนับ</button>
            </div>
            <div class="col-12 col-md-4 mt-2">
                <button id='btnLogOut' class="btn btn-block btn-sm btn-danger">ออกจากระบบ</button>
            </div>
        </div>
        <br>
    </div>
    <div class="row" style="height:300px;"></div>
    <script>
        $(document).ready(() => {
            let status = getText('statusCntnum').substring(0, 1);
            if (!['S', 'L', 'B'].includes(status)) {
                document.getElementById("btnEditTrans").setAttribute('disabled', true);
                document.getElementById("btnEditVariance").setAttribute('disabled', true);
                document.getElementById("btnScanOnly").setAttribute('disabled', true);
                document.getElementById("btnScanWithNumber").setAttribute('disabled', true);
            } else {
                if (['L'].includes(status)) {
                    document.getElementById("btnEditTrans").setAttribute('disabled', true);
                    document.getElementById("btnEditVariance").removeAttribute('disabled');
                    document.getElementById("btnScanOnly").setAttribute('disabled', true);
                    document.getElementById("btnScanWithNumber").setAttribute('disabled', true);
                } else {
                    document.getElementById("btnEditTrans").removeAttribute('disabled');
                    document.getElementById("btnEditVariance").setAttribute('disabled', true);
                    document.getElementById("btnScanOnly").removeAttribute('disabled');
                    document.getElementById("btnScanWithNumber").removeAttribute('disabled');
                }
            }
        })

        setInterval(() => {
            var date = new Date();
            var time = date.toLocaleTimeString();
            let options = {
                day: 'numeric',
                month: 'long',
                year: 'numeric'
            }
            document.getElementById("setDateNow").innerHTML = date.toLocaleDateString('th-TH', options);
            document.getElementById("setTiming").innerHTML = time;
        }, 1000);

        function logOut() {
            let LOGINID = parseJwt(readCookie('CCTOKEN')).CCLOGINID;
            let item = {
                    LOGINID: LOGINID
                }

            let getapi = call_api("POST", "../api/logout", item, 'auth');
            removeCookie('CCSTCODE');
            removeCookie('CCSTFCODE');
            removeCookie('CCSTNAME');
            removeCookie('CCCNTNUM');
            removeCookie('CCSTSCODE');
            removeCookie('CCTOKEN');
            window.location = '/'
        }

        function goToEditItemCount() {
            window.location = '/edititemcount'
        }

        function goToEditVariance() {
            window.location = '/editvariance'
        }

        function goToScanOnly() {
            window.location = '/scanonly'
        }

        function goToScanWithNumber() {
            window.location = '/scannumber'
        }

        function goToListNotCount() {
            window.location = '/listitemnotcount'
        }

        function goToSelectStore() {
            removeCookie('CCSTCODE');
            removeCookie('CCSTFCODE');
            removeCookie('CCSTNAME');
            removeCookie('CCCNTNUM');
            removeCookie('CCSTSCODE');
            window.location = '/selectstore'
        }

        document.getElementById('btnEditTrans').addEventListener('click', goToEditItemCount);
        document.getElementById('btnEditVariance').addEventListener('click', goToEditVariance);
        document.getElementById('btnScanOnly').addEventListener('click', goToScanOnly);
        document.getElementById('btnScanWithNumber').addEventListener('click', goToScanWithNumber);
        document.getElementById('btnNotCount').addEventListener('click', goToListNotCount);
        document.getElementById('btnLogOut').addEventListener('click', logOut);
        document.getElementById('btnChangeCntMain').addEventListener('click', goToSelectStore);
    </script>
</body>

</html>