<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <%- include('../includes/libary.ejs') %>
</head>

<body style="background-color: black;">
    <%- include('../partials/header.ejs') %>

    <div class="container mt-3">

        <div class="container text-light">

            <%- include('../includes/cam.ejs') %>
            <div class="row">
                <div class="col align-self-center">
                    <form id="scanonly">
                        <div class="input-group">
                            <label style="width: 100%; " for="formGroupExampleInput">Location <a
                                    style="float: right; color: dodgerblue" onclick="changeLocation(this)">เปลี่ยน
                                    Location</a></label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="Location" placeholder="โปรดระบุ Location"
                                    autocomplete="off">
                                <div class="input-group-append">
                                    <span class="input-group-text" onclick="opencam('Location')">กล้อง</span>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="skuType" name="customRadioInline1" value="0"
                                class="custom-control-input">
                            <label class="custom-control-label" for="skuType">sku</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="barcodeType" name="customRadioInline1" value="1" checked
                                class="custom-control-input">
                            <label class="custom-control-label" for="barcodeType">barcode</label>
                        </div>
                        <div class="input-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="numberSKU" disabled="true"
                                    autocomplete="off" placeholder="โปรดระบุ Barcode">
                                <div class="input-group-append">
                                    <span class="input-group-text" onclick="opencam('numberSKU')">กล้อง</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group mt-2">
                            <input type="text" class="form-control" id="numberSKU" autocomplete="off"
                                placeholder="โปรดระบุ Barcode">
                        </div> -->
                        <!-- <button type="button" id="submit"
                            class="btn btn-outline-success btn-lg btn-block">ยืนยัน</button> -->
                        <!-- <button type="button" onclick="scanWithNumber(this)"
                            class="btn btn-primary btn-sm btn-block">Scan
                            with
                            Number</button> -->
                        <!-- <button type="button" onclick="changeLocation(this)"
                            class="btn btn-warning btn-sm btn-block">เปลี่ยน
                            Location</button> -->
                        <!-- <button type="button" onclick="goBack(this)"
                            class="btn btn-secondary btn-sm btn-block">กลับเมนูหลัก</button> -->
                    </form>
                </div>
            </div>
            <div id="ModalRTV" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">RTV</h5>
                            <button type="button" style="float: right;" class="btn btn-secondary btn-sm"
                                data-dismiss="modal">Close</button>

                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 mt-1">
                                    <div class="row boxwhite" id='rtvDiv'>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="boxMessage"></div>
            <div id="resultSKU">

            </div>
            <div id="skuScanLists" class='lstPanel'>

            </div>
        </div>
    </div>
    <div class="row" style="height:300px;"></div>
    <script>
        var cntNum = "<%= typeof cntNum!='undefined' ? cntNum : '' %>";
        var userName = "<%= typeof userName!='undefined' ? userName : '' %>";
        $(document).ready(() => {
            setFocus("Location");
            getSKUScanLists();
        })

        async function sendNumberSKU(e) {
            if (e.keyCode == 13) {
                try {
                    clearMessageBox()

                    let checkBox = document.getElementById("skuType");
                    let number = getValue('numberSKU');
                    if (number.includes('.com')) {
                        number = number.substring(number.length - 8, number.length);
                        setValue('numberSKU', number);
                    }

                    if (!checkBox.checked && number.length < 13) {
                        alertMessage('showwarning', "กรุณาระบุหมายเลข Barcode ให้ถูกต้อง", 5000);
                        return
                    }

                    if (checkBox.checked && number.length != 8) {
                        alertMessage('showwarning', "กรุณาระบุหมายเลข SKU ให้ถูกต้อง", 5000);
                        return
                    }
                    let getstcode = readCookie("CCSTCODE")
                    let item = {
                        KEYSRC: number,
                        STCODE: getstcode
                    };
                    let getapi = await call_api("POST", "../api/getproductinfo", item, 'auth');
                    if (getapi.data.dbrows == 0) {
                        alertMessage('showwarning', "ไม่พบข้อมูลสินค้า", 5000);
                        return;
                    }
                    setResultScanSKU(getapi.data.dbitems[0], number)

                    document.getElementById("numberSKU").scrollIntoView();
                    await onSubmit();
                } catch (error) {
                    alertMessage('showerr', error, 10000);
                }
            }
        }



        async function onSubmit() {
            try {
                clearMessageBox()
                let numberSKU = getValue('numberSKU');
                let Location = getValue('Location');
                let checkBox = document.getElementById("skuType");
                let number = 1;
                if (!numberSKU || !Location) {
                    alertMessage('showwarning', "กรุณากรอกข้อมูลให้ครบถ้วน", 5000);
                    return;
                }
                let item = {
                    MOD: 'A',
                    CNTTRANS: null,
                    CNTNUM: cntNum,
                    SKCODE: checkBox.checked ? parseInt(numberSKU) : null, //60003048,//numberSKU,
                    PRCODE: checkBox.checked ? null : numberSKU, //null,
                    LOCATION: Location,
                    CNTQNT: number,
                    USERID: userName,
                    HOSTNAME: ''
                };
                let getapi = await call_api("POST", "../api/scan", item, 'auth');
                if (getapi.data.dbcode === 0) {
                    let result = getapi.data.dbitems[0].RESULT;
                    if (result != 'OKOK') {
                        alertMessage('showwarning', result, 5000);
                        return
                    } else {
                        alertMessage('showsuccess', 'สำเร็จ!', 5000)
                        setValue('numberSKU', '');
                        setFocus('numberSKU');
                        getSKUScanLists();
                        // $("#numberSKU").blur(); 
                    }
                }
            } catch (error) {
                alertMessage('showerr', error, 10000);
            }
        }








        // async function addlocation() {
        //     try {
        //         let location = document.getElementById("Location").value;
        //         let item = {
        //             CNTNUM: cntNum,
        //             LOCATION: location,
        //             USERID: userName,
        //         }
        //         let getapi = await call_api("POST", "../api/addcntlocation", item, 'auth');
        //         let jsn = getapi.data;
        //         if (!(jsn.dbcode == 0)) {
        //             alertMessage('showerr', jsn.dbmessage, 10000);
        //             setValue('Location', '');
        //             setFocus('Location');
        //             return;
        //         }

        //         let result = jsn.dbitems[0].RESULT;
        //         if (result != 'OKOK') {
        //             alertMessage('showwarning', 'ไม่สามารถ Add Location ได้ ' + result, 10000);
        //             setValue('Location', '');
        //             setFocus('Location');
        //             return;
        //         }
        //         alertMessage('showsuccess', `Add Location ${location} สำเร็จ`, 10000);
        //         document.getElementById("Location").setAttribute('disabled', true);
        //         setFocus('numberSKU');
        //     } catch (error) {
        //         alertMessage('showerr', error, 10000);
        //     }
        // }

        function setInput() {
            document.getElementById('numberSKU').placeholder =
                (document.querySelector('input[name="customRadioInline1"]:checked').value === '0') ?
                'โปรดระบุ SKU' : 'โปรดระบุ Barcode';
            setFocus('numberSKU');
        }

        function scanWithNumber(obj) {
            obj.blur();
            window.location = "/scannumber";
        }




        // function setInputBarcode() {
        //     document.getElementById('numberSKU').placeholder = 'โปรดระบุ Barcode';
        //     setFocus('numberSKU');
        // }
        // setInterval(() => {
        //     let date = new Date();
        //     let time = date.toLocaleTimeString();
        //     document.getElementById("setTiming").innerHTML = time;
        // }, 1000);
        document.getElementById("skuType").addEventListener("change", setInput);
        document.getElementById("barcodeType").addEventListener("change", setInput);
        document.getElementById("numberSKU").addEventListener('keypress', sendNumberSKU)
        document.getElementById("Location").addEventListener("keypress", setLocation);
    </script>
</body>

</html>